.active {
  color: white;
  position: relative;
}

.active::after {
  content: attr(data-day);
  position: absolute;
  top: 2px;
  left: 6px;
  border: 1px;
  border-radius: 50px;
  background-color: #4b2df1;
  width: 30px;
  height: 30px;
  z-index: 1;
  color: white;
}

.sunday-color {
  color: red;
}

.saturday-color {
  color: blue;
}

#calendar {
  margin: 20px;
  background-color: rgba(248, 254, 255, 0.4784313725);
  padding: 10px;
  border-radius: 20px;
  width: 350px;
}
#calendar #calendar-header {
  text-align: center;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#calendar #calendar-header .preBtn {
  position: relative;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 45px;
}
#calendar #calendar-header .preBtn::after {
  content: "";
  position: absolute;
  display: block;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(50deg);
  cursor: pointer;
}
#calendar #calendar-header span {
  margin: 0px 20px;
}
#calendar #calendar-header span:nth-of-type(1) {
  font-size: 16px;
}
#calendar #calendar-header span:nth-of-type(2) {
  font-size: 50px;
}
#calendar #calendar-header .nextBtn {
  width: 30px;
  height: 30px;
}
#calendar #initDayBtn {
  margin: 2px 0px;
}
#calendar #calendar-table {
  border-radius: 25px;
}
#calendar #calendar-table table {
  margin: auto;
}
#calendar #calendar-table table td {
  font-size: 18px;
  text-align: center;
  padding: 3px 5px;
  vertical-align: 2px;
  z-index: 2;
}