#search {
  margin-top: 20px;
}
#search form {
  width: 550px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 25px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}
#search form .input-label, #search form input, #search form .inputBtn {
  display: flex;
  flex-direction: row;
  height: 100%;
  border: none;
  background-color: transparent;
}
#search form .input-label {
  width: 10%;
  position: relative;
}
#search form .input-label i {
  font-size: 29px;
  color: rgb(146, 146, 146);
  position: absolute;
  top: 7px;
  left: 18px;
}
#search form input {
  width: 80%;
  font-size: 20px;
  outline: none;
  padding: 2px 20px;
  font-weight: 100;
}
#search form input::placeholder {
  text-align: center;
}
#search form .inputBtn {
  width: 10%;
  position: relative;
}
#search form .inputBtn i {
  position: absolute;
  top: 12px;
  left: 6px;
  font-size: 26px;
  color: rgb(146, 146, 146);
  cursor: pointer;
}
#search form:hover {
  box-shadow: 7px 7px 18px rgba(0, 0, 0, 0.4392156863);
}