
#todo{
    margin-left: 15px;
}

#todo-form{
    input{
        padding: 4px 25px;
        font-size: 16px;
        border: 1.5px solid #615353;
        border-radius: 30px;
        width: 22vw;
        height: 31px;
    }
}
#todo-list{

    padding: 11px 27px;
    border-radius: 25px;
    border: 1px solid whitesmoke;
    background: whitesmoke;
    width: 22vw;
    height: 505px;
    font-size: 20px; 
    overflow: auto;

    ::-webkit-scrollbar{
        // width: 12px;
    }
    ::-webkit-scrollbar-thumb{
        // border:1px solid #5464adc7;
        // border-radius: 20px;
        // background-color: #abbaffc7;
        // box-shadow: inset 2px 2px 0px;

    }
    ::-webkit-scrollbar-track{
        background-color: #f1f7fb;
        border-radius: 20px;
    }
    
    button{
        margin: 0px 10px;
        border: none;
        background-color: transparent;
        float: right;
        background: url(../../img/bin.png) no-repeat;
        width: 20px;
        height: 20px;
        background-size: 20px;
        cursor: pointer;
       
    }
    // button:hover + ul li{
    //     background-color: red;
    //     list-style:inside;
        
    // }
  

    li{
        margin: 5px 0px;
        list-style: none; 
        border-bottom: 1px solid transparent;
        padding-bottom: 5px ;
        word-break:break-all;

       
    }
    li:hover {
        border-bottom: 1px solid #e5e5e5;
        box-shadow: 2px 7px 8px -8px #D1CFD0;
    }

    span{
        cursor: pointer;
        user-select: none;
        //웹 앱
        -webkit-tap-highlight-color  : transparent;
        -webkit-tap-highlight-color: rgb(0, 0, 0,0); 
    }

    input[type="checkbox"]{
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }

    // input[type="checkbox"]:checked {
    //     box-shadow: 0 0 0 3px rgb(128, 113, 113);
    // }

 }

    

 

    // input[type="checkbox"]:checked span{
    //     color:  red;
    // }
    
    // option:checked{
    //     color: blue;
    // }


.checked{
    color: #b1b1b1;
    text-decoration: line-through;
}

.strongText{
    color: #ff0000bd;
    font-weight: bold;

}

#todo-list::-webkit-scrollbar{
    width: 12px;
}
#todo-list::-webkit-scrollbar-thumb{
    border:1px solid #5464adc7;
    border-radius: 20px;
    background-color:#abbaffc7;

}
#todo-list::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 20px;
}






